// Colors:

    //Input
    $input-text: #020205;
    $input-num-filled:#15CFC0;
    $num-text: white;
    $non-active-input: grey;

    //Card
    $card-bg: #f3f2f2;

    //Skew & BG
    $skew-bgA: #f0efef;
    $skew-bgB: #747474;
    $skew-border: #15CFC0;
    $middle: #f0efef;

    //Header
    $header-bg: #747474;
    $header-text: #f3f2f2;

    //Buttons
    $btn: #15CFC0;
    $btn-text: #f3f2f2;
    $btn-click: #EDCA1B;

    //Completed Madlib
    $madlib-variable:#EDCA1B;
    $madlib-text: #f3f2f2;
    $madlib-bg: #747474;

//Palette
$grey:       #747474;
$black:      #020205;
$dark-green: #124B34;
$maroon:     #59090E;
$red:        #C71F15;
$pale-green: #178777;
$aqua:       #15CFC0;
$yellow:     #EDCA1B;

//Misc Styling
$radius: 10px;
$card-shadow: 0 4px 30px 1px rgba(0, 0, 0, 0.349);
$btn-shadow: 0 4px 30px 1px rgba(0, 0, 0, 0.349);
$header-shadow: 0 4px 30px 1px rgba(0, 0, 0, 0.349);
$btn-font-size: 12px;
$skewA: skewY(-45deg);
$skewB: skewY(45deg);

//Mixins
@mixin button {
    font-size: $btn-font-size;
    box-shadow: $btn-shadow;
    outline: none;
    display: grid;
    background-color: $btn;
    color: $btn-text;
    height: 30px;
    width: 35%;
    padding: 5px 10px;
    border-radius: $radius;
    border-style: none;
    margin-bottom: 10px;
}
@mixin skewA {
    z-index:-20;
    background-color: $skew-bgA;
    position: fixed;
    height: 60vh;
    width: 100vw;
    transform: $skewA;
}
@mixin skewB {
    z-index:-10;
    background-color: $skew-bgB;
    position: fixed;
    height: 60vh;
    width: 100vw;
    transform: $skewB;
}




//Main Styles
html {
    height: 100vh;
    background-color: $middle;
    font-size: 100%; // 1rem is 10px
    font-family: 'Merriweather Sans', sans-serif;  
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.header {
    h1, h3 {
        margin: 3px;
    }
    margin-top: 30px;
    width: 800px;
    box-shadow: $header-shadow;
    background-color: $header-bg;
    border-radius: $radius;
    color: $header-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .skew {
        top: 0;
        left: 0;
        transform-origin: top left;
        border-bottom: 15px solid $skew-border;
        @include skewA;
    }
    .skew2 {
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
        border-top: 15px solid $skew-border;
        @include skewA;
    }
    .skew3 {
        top: 0;
        right: 0;
        transform-origin: top right;
        border-bottom: 15px solid $skew-border;
        @include skewB;
    }
    .skew4 {
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        border-top: 15px solid $skew-border;
        @include skewB;
    }

}

.card-shown {
    width: max-content;
    overflow: visible;
    background-color: $card-bg;
    box-shadow: $card-shadow;
    border-radius: $radius;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, 1fr);
    .input-wrap {
        height: 150px;
        width: 200px;
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
        .label {
            font-size: .7em;
            color: $non-active-input;
            grid-column: input-s/input-e;
        }
        .num {
            margin-left: 15px;
            text-align: center;
            font-weight: 400;
            color: $num-text;
            border-radius: 50%;
            width: 26px;
            line-height: 26px;
            grid-column: number-s/number/e;
        }
        .empty {
            background-color: $non-active-input;
        }
        .filled {
            background-color: $input-num-filled;
        }
        input {
            letter-spacing: .5px;
            width: 140px;
            font-size: 14px;
            font-weight: 600;
            overflow: visible;
            text-align: center;
            color: $input-text;
            grid-column: input-s/input-e;
            background-color: inherit;
            border: none;
            border-bottom: 1.3px solid $non-active-input;
            &:focus {
                outline: none;
                border-bottom: 1.3px solid $input-num-filled;
                transition: .3s ease-in-out;
                &::placeholder {
                    visibility: hidden;
                }
            }
            &:focus ~ .label {
                color: $input-num-filled;
                transition: .3s ease-in-out;
            }
            &::placeholder {
                line-height: 5px;
                overflow: visible;
                color: $non-active-input;
                text-align: center;
            }
        }
    }
}

.card-hidden * {
    visibility: hidden;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .buttons {
        display: grid;
        grid-gap: 100px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
        .left-buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .buttons-hidden {
                visibility: hidden;
            }
            .buttons-shown {
                @include button;
                &:active {
                    transition: ease-in-out;
                    background-color: $btn-click;
                    
                }
            }
        }
        .right-buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .buttons-hidden {
                visibility: hidden;
            }
            .buttons-shown {
                @include button;
                &:active {
                    transition: ease-in-out;
                    background-color: $btn-click;
                    
                }
            }
        }
    }
  
    .completed-wrap {
        border: 1.5px solid $skew-border;
        box-shadow: $card-shadow;
        font-size: 1.2em;
        display: grid;
        justify-items: center;
        align-items: center;
        letter-spacing: 1px;
        position: fixed;
        background-color: $madlib-bg;
        top: 25vh;
        left:20vw;
        padding: 20px;
        border-radius: $radius;
        color: $madlib-text;
        width: 60vw;
        .close-button {
            cursor: pointer;
            background-color: $btn;
            padding: 3px 10px;
            border-radius: $radius;
        }
    }
    .madlib-shown {
        .madlib-variable {
            color: $madlib-variable;
        }
        z-index: 2;
    }
    .madlib-hidden {
        visibility: hidden;
        z-index: -100;
    }  
}