// Colors:
$radius: 10px;
$btn: green;
$skew-bg: grey;
$header-bg: green;
$header-text: white;
$num-text: white;
$non-active-input: grey;
$card-bg: #f3f2f2;
$skew-border: green;
$btn-text: #f3f2f2;
$btn-click: grey;
$madlib-text: white;
$madlib-bg: #292929;

//Misc Styling
$card-shadow: 0 4px 30px 1px #00000059;
$btn-shadow: 0 4px 30px 1px #00000059;
$header-shadow: 0 4px 30px 1px #00000059;
$btn-font-size: 12px;

//Mixins
@mixin button {
    font-size: $btn-font-size;
    box-shadow: $btn-shadow;
    outline: none;
    display: grid;
    background-color: $btn;
    color: $btn-text;
    height: 30px;
    width: 35%;
    padding: 5px 10px;
    border-radius: $radius;
    border-style: none;
    margin-bottom: 10px;
}
@mixin skew {
    z-index:-10;
    background-color: $skew-bg;
    border-bottom: 15px solid $skew-border;
    position: fixed;
    z-index: -10;
    height: 60vh;
    width: 100vw;
    transform: skewY(-45deg);
}




//Main Styles
html {
    font-size: 100%; // 1rem is 10px
    font-family: 'Merriweather Sans', sans-serif;  
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.header {
    h1, h3 {
        margin: 3px;
    }
    width: 800px;
    box-shadow: $header-shadow;
    background-color: $header-bg;
    border-radius: $radius;
    color: $header-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .skew {
        top: 0;
        left: 0;
        transform-origin: top left;
        @include skew;
    }
    .skew2 {
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
        @include skew;
    }

}

.card-shown {
    width: max-content;
    overflow: visible;
    background-color: $card-bg;
    box-shadow: $card-shadow;
    border-radius: $radius;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, 1fr);
    .input-wrap {
        height: 150px;
        width: 200px;
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
        .label {
            font-size: .7em;
            color: $non-active-input;
            grid-column: input-s/input-e;
        }
        .num {
            margin-left: 15px;
            text-align: center;
            font-weight: 400;
            color: $num-text;
            border-radius: 50%;
            width: 26px;
            line-height: 26px;
            grid-column: number-s/number/e;
        }
        .empty {
            background-color: $non-active-input;
        }
        .filled {
            background-color: $btn;
        }
        input {
            width: 140px;
            font-size: 14px;
            font-weight: 600;
            overflow: visible;
            text-align: center;
            grid-column: input-s/input-e;
            background-color: inherit;
            border: none;
            border-bottom: 1.3px solid $non-active-input;
            &:focus {
                outline: none;
                border-bottom: 1.3px solid $btn;
                transition: .3s ease-in-out;
                &::placeholder {
                    visibility: hidden;
                }
            }
            &:focus ~ .label {
                color: $btn;
                transition: .3s ease-in-out;
            }
            &::placeholder {
                line-height: 5px;
                overflow: visible;
                color: $non-active-input;
                text-align: center;
            }
        }
    }
}

.card-hidden * {
    visibility: hidden;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .buttons {
        display: grid;
        grid-gap: 100px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
        .left-buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .buttons-hidden {
                visibility: hidden;
            }
            .buttons-shown {
                @include button;
                &:active {
                    transition: ease-in-out;
                    background-color: $btn-click;
                    
                }
            }
        }
        .right-buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .buttons-hidden {
                visibility: hidden;
            }
            .buttons-shown {
                @include button;
                &:active {
                    transition: ease-in-out;
                    background-color: $btn-click;
                    
                }
            }
        }
    }
  
    .completed-wrap {
        font-size: 1.2em;
        display: grid;
        justify-items: center;
        align-items: center;
        letter-spacing: 1px;
        position: fixed;
        background-color: $madlib-bg;
        top: 25vh;
        left:20vw;
        padding: 20px;
        border-radius: $radius;
        color: $madlib-text;
        width: 60vw;
        .close-button {
            cursor: pointer;
            background-color: $btn;
            padding: 3px 10px;
            border-radius: $radius;
        }
    }
    .madlib-shown {
        .madlib-variable {
            color: $btn;
        }
        z-index: 2;
    }
    .madlib-hidden {
        visibility: hidden;
        z-index: -100;
    }  
}